{% extends 'base.html' %}
{% block title %}Мой профиль :: Настройки{% endblock %}
{% block content %}
    {% include 'inc/_profile_review_top.html' %}
    <div class="finance">
        <div class="container">
            <div class="finance_wrap">

                <p class="finance_title">Активация купона</p>
                <p class="finance_price">На вашем счету: <strong>0.00000000 BTC</strong></p>
                <p class="finance_text"></p>
                <form class="finance_form_2">
                    <input type="text" class="finance_input" placeholder="Активация чеков" name="code" value="">
                    <button class="finance_btn" type="submit">Активировать</button>
                </form>
            </div>
            <div class="decor_bottom_wrap">
                <div class="decor_bottom_table">
                    <div class="decor_table_title">
                        <p>Дата</p>
                        <p>Сумма</p>
                        <p>Примечание</p>
                    </div>
                    <div>
                        <div class="empty-row">Нет данных</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}