{% extends 'base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
<section class="news">
    <div class="container">
        <h1 class="news__title">Новости</h1>
        <div class="news__wrap">
            {% for obj in news %}
                <div class="news__item">
                    <a href="/news/{{ obj.uuid }}" class="news__item-title">{{ obj.name }}</a>
                    <p class="news__item-text">{{ obj.preview_text }}</p>
                    <p class="news__item-data">{{ obj.date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}