{% extends 'base.html' %}
{% block title %}Мой профиль :: Оповещения{% endblock %}
{% block content %}
    {% include 'inc/_profile_review_top.html' %}
    <div class="finance my_order">
        <div class="container">
            <div class="alert_section">
                <h1 class="alert_title">Оповещения</h1>
                <div class="alert_messages_wrap">



                    <div style="text-align: center">Пока нет оповещений</div>


                </div>
            </div>





        </div>
    </div>
{% endblock %}