{% extends 'base.html' %}
{% load static %}
{% load kraken_extras %}
{% block title %}{{ shop.name }}{% endblock %}

{% block content %}
<div class="shop_main">
    <div class="container">
        <div class="shop_top">
            <div class="shop_top_img">
                <img src="{{ shop.big_photo.url }}" alt="shop" loading="lazy">
            </div>
        </div>
        <div class="shop_panel">
            <div class="shop_panel_info">
                <div class="shop_panel_img">
                    <img src="{{ shop.photo.url }}" alt="shop" loading="lazy">
                </div>
                <div class="shop_panel_title">
                    <h1 class="shop_title">{{ shop.name }}</h1>
                    <div class="shop_panel_rait">
                        <div class="shop_panel_star">
                            {% draw_stars summary %}
                        </div>
                        <p class="shop_rait_text"><span>{{ shop.deals_count }}</span> сделок</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_nav">
            <input type="checkbox" id="shop_nav_box">
            <label for="shop_nav_box" class="shop_btn_call">
                Меню магазина:
                <span>Товары</span>
            </label>
            <div class="shop_nav_box">
                {% for title, url in pages.items %}
                    {% if current_page == title %}
                        <a href="{{ url }}" class="active">{{ title }}</a>
                    {% else %}
                        <a href="{{ url }}" class="non-active">{{ title }}</a>
                    {% endif %}
                {% endfor %}
                <a href="/ticket/shop/{{ shop.uuid }}/" class="shop_nav_letter">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0078 0H1.99219C0.893695 0 0 0.905827 0 2.01923V3.68493L7.31103 9.19679C7.6666 9.46484 8.0833 9.59888 8.5 9.59888C8.9167 9.59888 9.3334 9.46488 9.68897 9.19679L17 3.68493V2.01923C17 0.905827 16.1063 0 15.0078 0ZM15.6719 3.00852L8.89635 8.11663C8.65928 8.29537 8.34072 8.29537 8.10369 8.11663L1.32812 3.00852V2.01923C1.32812 1.6481 1.62602 1.34615 1.99219 1.34615H15.0078C15.374 1.34615 15.6719 1.6481 15.6719 2.01923V3.00852ZM15.6719 6.36391L17 5.36264V11.9808C17 13.0942 16.1063 14 15.0078 14H1.99219C0.893695 14 0 13.0942 0 11.9808V5.36264L1.32812 6.36391V11.9808C1.32812 12.3519 1.62602 12.6538 1.99219 12.6538H15.0078C15.374 12.6538 15.6719 12.3519 15.6719 11.9808V6.36391Z" fill="black"></path>
                    </svg>
                    Написать продавцу
                </a>
            </div>
        </div>
        <div class="shop_product">
            <div class="shop_product_wrap">
                {% for product in products %}
                <a href="/shop/item/{{product.uuid}}/" class="product_item">
                    <div class="product_item_img">
                        <img src="{{ product.photos.all.0.photo.url }}" alt="product" loading="lazy" height="200" width="200">
                    </div>
                    <p class="product_title">{{ product.title }}</p>
                    <div class="product_bottom">
                        {% with product.get_price as price %}
                        <p class="product_price">от <strong>{% formatted_float price.1 %} руб.</strong> / {{ price.0 }}</p>
                        {% endwith %}
                        <div class="product_star">
                            <span class="product_star_col">{% formatted_float product.get_rate 1 %}</span>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8355 4.95918C13.7229 4.61346 13.4244 4.36302 13.0646 4.31056L9.42115 3.7819L7.79162 0.488546C7.47004 -0.162849 6.40257 -0.162849 6.081 0.488546L4.45146 3.7819L0.81667 4.31056C0.457041 4.36287 0.158447 4.61434 0.0467669 4.95918C-0.0657913 5.30489 0.028617 5.68305 0.289155 5.93539L2.92424 8.49261L2.3032 12.1118C2.24216 12.4689 2.38912 12.8309 2.68288 13.0442C2.97767 13.2566 3.36687 13.2843 3.68844 13.1156L6.93594 11.4061L10.1931 13.1156C10.3324 13.189 10.4851 13.2252 10.6367 13.2252C10.8342 13.2252 11.0317 13.1643 11.1997 13.0443C11.4936 12.83 11.6404 12.4691 11.5794 12.112L10.9583 8.49275L13.5934 5.93554C13.8537 5.68392 13.9481 5.30402 13.8355 4.95918Z" fill="#434343"></path>
                            </svg>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}