{% extends 'base.html' %}
{% block title %}{{text.title}}{% endblock %}

{% block content %}
<div class="text_section">
    <div class="container">
        <div class="text_section_wrap">
            <div class="text_link_wrap">
                {% include 'inc/_texts.html' %}
            </div>
            <div class="text_output">
                <h1>{{ text.title }}</h1>
                {% autoescape on %}
                    {{ text.content|safe }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
